.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
build
dist
tests
scripts
docs/**
!docs/architecture/
!docs/architecture/contracts/
!docs/architecture/contracts/**
!docs/architecture/operators/
!docs/architecture/operators/**
._*
**/._*
